# The Sparks Foundation

## Task6 - Prediction using Decision Tree Algorithm
- Create the Decision Tree classiﬁer and visualize it graphically. 
- The purpose is if we feed any new data to this  classiﬁer, it would be able to predict the right class accordingly. 
- Data can be found at  https://bit.ly/3kXTdox -> save as **Iris.csv**

### Importing the libraries

In [10]:
import pandas as pd
import missingno
import matplotlib.pyplot as plt

### Loading the dataset

In [11]:
df = pd.read_csv("Iris.csv", low_memory=False)

### Checking the data

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
df.shape

(150, 6)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [15]:
# % of columns without values
df.isna().sum() / len(df) * 100

Id               0.0
SepalLengthCm    0.0
SepalWidthCm     0.0
PetalLengthCm    0.0
PetalWidthCm     0.0
Species          0.0
dtype: float64

- The dataset has NO Null values

### Using Decision Tree Algorithm
Decision Tree algorithm belongs to the family of supervised learning algorithms and it can be used for solving regression and classification problems too.

In [17]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Iris plant has 3 classes:
- Iris Setosa
- Iris Versicolour
- Iris Virginica

With the following attributes:
- sepal length 
- sepal width 
- petal length 
- petal width